
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: white;
    align-items: center;
    margin: auto !important;
    padding: 0;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

/* || General styles ||*/

div.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

section #about {
    display: block;
    align-self: center;
}

table {
    width: 100%;
}

section {
    width: 100%;
    padding: 30px;
}

audio {
    filter: sepia(50%) saturate(70%) grayscale(2) contrast(99%) invert(12%);
    max-width: 200px;
    height: 25px;
}

/* || Image styles */

.banner {
    max-width: 60vw;
    margin: 0 auto;
}
section.releases a,
.bandmember {
    flex: 1 0 21%;
    margin: 5px;
    height: 100px;
}

img.releases {
    padding: 10px;
    max-width: 500px;
    max-height: 500px;
}

img.facebook {
    max-width: 10%;
    max-height: 10%;
}

img.instagram {
    max-width: 9%;
    max-height: 9%;
}

img.bandcamp {
    max-width: 9%;
    max-height: 9%;
}

img.bandmember {
    width: 45%;
    height: 50%;
}

section.press img {
    max-width: 800px;
    max-height: 1000px;
}

img {
    max-width: 500px;
    max-height: 500px;
}

section img {
    width: 100%;
}

a img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}


/* || Header, Footer and Main Navigation */

nav {
    width: 100%;
    margin: 0 auto;
}


nav {
    border-bottom: 4px solid #CD48DC;
    border-top: 4px solid #CD48DC;
    border-radius: 8%;
}

footer {
    border-top: 4px double #CD48DC;
}

hr {
    display: none;
}

.navbar-brand {
    text-align: left;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

/* || Typography */

h1 {
    font-size: 3em;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

p.about_info {
    position: relative;
    display: block;
    max-width: 1300px;
}

p.about_info::after {
    content: "";
    position: absolute;
    background-image: url("knife.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

section.music {
    font-size: 1.0em;
    font-family: 'Permanent Marker';
    align-items: center;
    padding: 25px;
    
}

div.music p {
    font-size: 1.0em;
    font-family: 'Permanent Marker';
    margin-bottom: .1em;
    padding-bottom: .1em;
}

p,
h3,
td,
th {
    color: black;
    font-family: 'Caveat';
    font-size: 1.5em;
    padding-left: 0;
}

.ticket_link {
    color: #CD48DC;
    text-decoration: none;
    font-family: 'Caveat';
}

.ticket_link:hover {
    font-size: 2.3rem;
}

a {
    padding: 10px 5px;
    font-size: 1.5em;
    color: #CD48DC !important;
    font-family: 'Caveat';
    text-decoration: none !important;
    margin: 12px 0px;
    line-height: 2.25em
}

.current_page {
    font-size: 1.5em;
    font-family: 'Permanent Marker';
    position: relative;
}

a:hover {
    font-size: 1.5em;
    font-family: 'Permanent Marker';
}

p.quote {
    font-style: italic;
    text-align: center;
}

/* || media queries */

@media (min-width: 560px) {
    a {
        font-size: 1.5em;
    }

    a:hover {
        font-size: 1.5em;
    }

    p {
        font-size: 1.8em;
    }

    p.quote {
        font-size: 1.3em;
    }

    div.music {
        font-size: 1.8em;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        max-width: 490px;
        margin: 0 auto;
    }

    .current_page {
        font-size: 1.5em;
    }

    .current_page:before {
        position: absolute;
        content: '';
        height: .15em;
        width: 53%;
        bottom: .1em;
        z-index: 1;
        background: #CD48DC;
    }
}

@media (min-width: 860px) {
    a {
        font-size: 1.5em;
    }

    a:hover {
        font-size: 1.3em;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    p,
    div.music {
        font-size: 2em;
    }

    body {
        max-width: 1600px;
        margin: 0 auto;
    }

    section.press {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .current_page {
        font-size: 1.2em;
    }

    p.quote {
        font-size: 1.8em;
    }
    td {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) {
}